img {
	cursor: pointer;
}

h1 {
	margin:0 auto;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
}

h2 {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	font-size: 1em;
}
figure{
	width: 30%;
	margin: 0 auto;
}
#kailapics {
	max-width: 70%;
  	margin: 0 auto;
  	display: block;
}

#kailacaps{
	font-family: "Helvetica", sans-serif;
	text-align: center;
	margin-top: 10%;
}